source https://www.nuget.org/api/v2

nuget System.Reactive 4.0.0-preview00001
nuget System.Reactive.Core 4.0.0-preview00001
nuget System.Reactive.Interfaces 4.0.0-preview00001
nuget System.Reactive.Linq 4.0.0-preview00001
nuget System.Runtime.InteropServices.WindowsRuntime 4.3
nuget Xamarin.Android.Support.v4
nuget Xamarin.Android.Support.v7.AppCompat
